<div class="row justify-content-center mt-3">
    <div class="col bg-dark-subtle p-3 rounded d-flex flex-column">
        <h1>My cart</h1>
        <p>List all my products in cart</p>
        <hr>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Image</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <% if (carts.length > 0) { %>
                <% carts.forEach((cart, index)=> { %>
                    <tr data-bs-id="<%= cart.id %>">
                        <th scope="row"><%= index + 1 %></th>
                        <td><%= cart.product.name %></td>
                        <td><%= cart.product.price %>$</td>
                        <td><img src="/public/images/<%= cart.product.image %>" class="card-img-top" alt="..."
                                 style="width: 100px;"></td>
                        <td>
                            <button class="btn btn-secondary btn-plus-cart rounded-5 me-2"><i
                                        class="fa-light fa-plus"></i></button>
                            <span><%= cart.quantity %></span>
                            <button class="btn btn-secondary btn-minus-cart rounded-5 ms-2"><i
                                        class="fa-light fa-minus"></i></button>
                        </td>
                        <td>
                            <%= cart.product.price * cart.quantity %>$
                            <% totalMoney += cart.product.price * cart.quantity %>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-remove-from-cart">Remove</button>
                        </td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="7" class="text-center">No product found in cart</td>
                </tr>
            <% } %>
            </tbody>
        </table>

        <div class="d-flex justify-content-end align-items-center">
            <h3>Total money: <%= totalMoney %>$</h3>
            <button class="btn btn-primary ms-5">Check out</button>
        </div>
    </div>
</div>


<script>
    $(function () {
        const removeButtons = $('.btn-remove-from-cart')
        removeButtons.on('click', function () {
            const id = $(this).closest('tr').data('bs-id')
            $.ajax({
                url: `/cart/${id}`,
                method: 'DELETE',
                data: {id},
                success: data => {
                    window.location.href = '/cart'
                },
                error: err => {
                    console.log(err)
                }
            })
        })

        const plusButtons = $('.btn-plus-cart')
        plusButtons.on('click', function () {
            const id = $(this).closest('tr').data('bs-id')
            $.ajax({
                url: `/cart/plus/${id}`,
                method: 'POST',
                data: {id},
                success: data => {
                    window.location.href = '/cart'
                },
                error: err => {
                    console.log(err)
                }
            })
        })

        const minusButtons = $('.btn-minus-cart')
        minusButtons.on('click', function () {
            const id = $(this).closest('tr').data('bs-id')
            $.ajax({
                url: `/cart/minus/${id}`,
                method: 'POST',
                data: {id},
                success: data => {
                    window.location.href = '/cart'
                },
                error: err => {
                    console.log(err)
                }
            })
        })
    })

</script>
