<div class="row justify-content-center m-3" xmlns="http://www.w3.org/1999/html">
    <div class="col-4 p-3 bg-dark-subtle rounded">
        <h1>Edit</h1>
        <p>Current product</p>
        <hr>

        <form action="/admin/product/<%= product._id %>?_method=PUT" method="POST" enctype="multipart/form-data"
              id="editProductForm">
            <div class="mb-3">
                <label class="form-label text-dark" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="title" value="<%= product.title %>"/>
                <span class="text-danger label-error invisible" id="titleError">Error</span>
            </div>

            <div class="mb-3">
                <label class="form-label text-dark" for="price">Price</label>
                <input class="form-control" type="number" id="price" name="price" value="<%= product.price %>"/>
                <span class="text-danger label-error invisible" id="priceError">Error</span>
            </div>

            <div class="mb-3">
                <label class="form-label text-dark" for="description">Description</label>
                <textarea class="form-control" id="description"
                          name="description"><%= product.description %></textarea>
                <span class="text-danger label-error invisible" id="descriptionError">Error</span>
            </div>


            <div class="mb-3 d-flex flex-column">
                <label class="form-label text-dark" for="image">Image</label>
                <img src="/public/images/<%= product.imageUrl %>" style="width: 150px" alt="...">
                <input type="hidden" name="currentImage" value="<%= product.imageUrl %>">
                <input class="form-control mt-3" type="file" id="image" name="image">
            </div>


            <button class="btn btn-primary float-end w-25 mt-3" type="submit">Update</button>
        </form>
    </div>
</div>