<% if(createFlash) { %>
    <div class="position-relative" id="createFlash">
        <div class="alert alert-success position-absolute start-50 translate-middle" role="alert">
            <i class="fa-regular fa-check fa-fade"></i> Add new product successfully!
        </div>
    </div>
<% } %>

<% if(updateFlash) { %>
    <div class="position-relative" id="updateFlash">
        <div class="alert alert-success position-absolute start-50 translate-middle" role="alert">
            <i class="fa-regular fa-check fa-fade"></i> Update product successfully!
        </div>
    </div>
<% } %>

<div class="row justify-content-center mt-3">
    <div class="col bg-dark-subtle p-3 rounded d-flex flex-column">
        <h1>My products</h1>
        <p>List all my product</p>
        <a href="/admin/product/create" class="btn btn-primary align-self-end"><i class="fa-solid fa-plus"></i> Add new
            product</a>
        <hr>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
                <th scope="col">Image</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <% if (products.length > 0) { %>
                <% products.forEach((product, index)=> { %>
                    <tr>
                        <th scope="row"><%= index + 1 %></th>
                        <td><%= product.name %></td>
                        <td><%= product.price %></td>
                        <td><%= product.description %></td>
                        <td><img src="/public/images/<%= product.image %>" class="card-img-top" alt="..."
                                 style="width: 100px;"></td>
                        <td>
                            <div>
                                <a href="/admin/product/<%= product.id %>/edit" class="link-warning me-3">
                                    <i class="fa-solid fa-pen"></i></a>

                                <button type="button" class="link-danger bg-white border-0" data-bs-toggle="modal"
                                        data-bs-target="#deleteModalForm" data-bs-id="<%= product.id %>">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="6" class="text-center">No product found</td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="deleteModalForm" tabindex="-1" aria-labelledby="deleteModalForm" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModal">Confirm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure want to delete this product?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="deleteButton" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<form id="formDelete" action="" method="POST"></form>

<% if(createFlash) { %>
    <script>
        setTimeout(() => {
            const createFlash = document.getElementById('createFlash')
            createFlash.style.display = 'none'
        }, 1500);
    </script>
<% } %>

<% if(updateFlash) { %>
    <script>
        setTimeout(() => {
            const updateFlash = document.getElementById('updateFlash')
            updateFlash.style.display = 'none'
        }, 1500);
    </script>
<% } %>

<script>
    const deleteModal = document.getElementById('deleteModalForm')
    const formDelete = document.getElementById('formDelete')
    const deleteButton = deleteModal.querySelector('#deleteButton')

    if (deleteModal) {
        deleteModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget
            const recipient = button.getAttribute('data-bs-id')

            formDelete.action = `/admin/product/${recipient}?_method=DELETE`

            deleteButton.addEventListener("click", (e) => {
                formDelete.submit()
            })
        })
    }
</script>